.header {
  padding: 4rem;
  background-image: url(../images/pattern-bg.png);

  background-size: cover;
  height: 30vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
