.ip-card {
  border-radius: 1rem;
  position: absolute;
  padding: 2rem;
  bottom: -10%;
  background-color: $color-white;
  margin: 0 2rem;
  max-width: 98rem;
  justify-content: center;
  display: flex;
  z-index: 69;
  &__card {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    &:not(:last-child) {
      border-right: 0.4px solid $color-dark-grey;
    }
  }
}
